groq
pypdf
ollama
plotly
pyttsx3
prophet
PyAudio
textblob
chromadb
openpyxl
docx2txt
networkx
streamlit
ipykernel
setuptools
python-pptx
unstructured
google-genai
python-dotenv
langchain-groq
msoffcrypto-tool
langchain-openai
langchain-chroma
langchain-ollama
speechrecognition
langchain-community
google-generativeai
langchain-google-genai
streamlit-authenticator

-e .