pypdf
ollama
chromadb
openpyxl
docx2txt
streamlit
ipykernel
setuptools
python-pptx
unstructured
google-genai
python-dotenv
langchain-openai
langchain-chroma
langchain-ollama
langchain-community
google-generativeai
langchain-google-genai
streamlit-authenticator

-e .